* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    min-height: 100vh; /* sorgt dafür, dass der Body die gesamte Höhe der Ansicht einnimmt */
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    flex: 1 0 auto; /* ermöglicht es, dass der Main-Bereich den Rest des verfügbaren Platzes einnimmt */
}

.leitungsebene {
    display: flex;
    flex-wrap: wrap;
    max-height: 400px; /* feste Höhe des Bereichs */
    overflow-y: auto; /* Scrollen bei Überlauf aktivieren */
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.staff-member {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    flex: 1 1 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    flex-shrink: 0; /* hält den Footer unten */
    width: 100%;
}
